pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
#Archivos compilados
*.class

#Archivos temporales de Maven
/**/target/

#Archivos de Intellij
*.iml
/.idea

#Ignora archis del sistema Mac
.DS_store
/persistencia/target/